<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="email"
        />
        @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Username is <strong>required</strong></mat-error>
        } @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Email is <strong>incorrect</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="password"
        />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <!-- todo restore disabled -->
        Login
      </button>
      <p>{{ errorMessage }}</p>
    </form>
  </mat-card-content>
</mat-card>
