<mat-card>
  <mat-card-title>Users list</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>User name</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="currentUser.isAdmin">
            <input
              matInput
              [(ngModel)]="user.name"
              (ngModelChange)="trackChanges('name', $event, user)"
              placeholder="Name"
            />
          </ng-container>
          <ng-container *ngIf="!currentUser.isAdmin">
            {{ user.name }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="currentUser.isAdmin">
            <input
              matInput
              [(ngModel)]="user.email"
              (ngModelChange)="trackChanges('email', $event, user)"
              placeholder="Email"
            />
          </ng-container>
          <ng-container *ngIf="!currentUser.isAdmin">
            {{ user.email }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Admin</th>
        <td mat-cell *matCellDef="let user">
          <mat-checkbox
            [checked]="user.isAdmin"
            [(ngModel)]="user.isAdmin"
            (ngModelChange)="trackChanges('isAdmin', $event, user)"
            [disabled]="!currentUser.isAdmin"
          ></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
